.pagination {
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 20px;
}

.pagination li {
	display: inline-block;
	width: 24px;
	height: 24px;
	padding: 8px;
	margin: 0 4px;
	cursor: pointer;
	border: 1px solid #dfe3e8;
	color: #000000;
	text-align: center;
}

.pagination li.active {
	border: 2px solid #bc006d;
	color: #bc006d;
	background-color: transparent;
}

.pagination li:hover {
	border: 2px solid #bc006d;
	color: #bc006d;
}
