* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
}

.pagination {
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 20px;
}

.pagination li {
	display: inline-block;
	padding: 5px 0;
	margin: 10px 4px;
	cursor: pointer;
	border: 1px solid #dfe3e8;
	color: #000000;
	text-align: center;
	border-radius: 5px;
}
.pagination li a {
	padding: 5px 10px;
}

.pagination li.active {
	border: 2px solid #bc006d;
	color: #bc006d;
	background-color: transparent;
}

.pagination li:hover {
	border: 2px solid #bc006d;
	color: #bc006d;
}
